<!DOCTYPE html>
<html lang="en">
<head>
  <title>Plasma Donor App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
  <link rel="stylesheet" href="style.css">
<style>
    main{
        margin-top: 40px;
    }
</style>
</head>

<body>
<div class="container-fluid">
<div class="header">
<div><strong>Plasma Donor App</strong></div>
<ul>
		<li><a href="/requester">Request</a></li>
		<li><a class="active" href="/login">Home</a></li>
		<li><a href="/stats">Stats</a></li>
        <li><a href="/feedback">Feedback</a></li>
</ul>
</div>
<br><br>
<main>
<td>BATCH ID: B5-5M1E</td><br>
<td>TEAM ID: PNT2022TMID23309 </td><br>
<hr>
<p style="text-align: justify;">Plasma donation, also known as apheresis, can help save lives. It is a relatively safe procedure, 
	but there can be minor side effects. Plasma is the liquid part of the blood. It contains proteins 
	and antibodies that are crucial for clotting and immunity. Around 55% of the blood is plasma. 
	Plasma donation involves drawing blood, extracting the plasma, and returning what is left of 
	the blood to the person, all through a single needle that remains in the arm throughout the 
	process. Plasma is in high demand, as it helps treat cancer and other health issues. In May 
	2020, the Food and Drug Administration (FDA) asked people who had recovered from COVID-19 to donate plasma. Experts believe that the plasma may contain antibodies for SARS-CoV2, the virus behind the disease. Receiving plasma with these antibodies could help a person 
	fight off the infection. People with AB blood have a universal type of plasma, which means 
	that a person with any blood type can receive this plasma safely. This is different from having 
	the universal blood type, which is O negative. The American Red Cross urge people with AB 
	blood to donate plasma. A person can do this every 28 days, or up to 13 times a year. 
	Research shows that plasma donation is safe, and the National Institutes of Health 
	(NIH) emphasize that there is no risk of getting the wrong blood back. Also, the FDA and other 
	health authorities regulate the equipment and procedure of plasma donation. 
	However, a person who donates plasma may experience minor adverse effects, and as with 
	any other procedure involving a puncture, certain risks are involved. </p>
<hr>
<h1>TEAM MEMBER</h1>
<h5>Gokul D | Kishore Balaji D | Kiran Balaji B | Noohu Nufais</h5>
</main>
</div>
</body>
</html>
