<!DOCTYPE html>
<html lang="en">
<head>
  <title>Plasma Donor App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
  <link rel="stylesheet" href="style.css">
<style>
    .feedback{
       margin-top: 80px;
    }
</style>
</head>

<body>
<div class="container-fluid">
<div class="header">
<div><strong>Plasma Donor App</strong></div>
<ul>
		<li><a href="/requester">Request</a></li>
		<li><a class="active" href="/login">Home</a></li>
		<li><a href="/stats">Stats</a></li>
        <li><a href="/about">About</a></li>
</ul>
</div>
<br><br>
<div class="feedback" >
    <form action="{{ url_for('loginpage')}}"method="post">
    	<textarea name="feedback" placeholder="Enter your feedback" cols="30" rows="10"></textarea>
        <button type="submit" class="btn btn-primary btn-block btn-large">Submit</button>
    </form>
</div>
</div>
</body>
</html>
